h1 {
    background-color: lightgray;
    text: 800px;
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    text: 50px;
    padding: 5px ;
}


header {
    text-align: center;
}

section {
    margin: 20px 40px;
    text-align: center;
}

Body {
    align-content: center;
    text-align: center;
}

article {
}

p {
    text: 40px;
    font-family: 'Courier New', Courier, monospace;
}

hr {
    width: 25px; 
    height: 25px;
    border: none;
    color: #000;
    background: #000;
    transform: rotate(45deg);
}

ul {
    list-style: inside;
    list-style-position: inside;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding-left: inherit;
}

li {
    list-style-position: inside;
    list-style: inside;
}

a:link {color: mediumblue;}
a:visited {color: purple;}
a:hover {color: seagreen;}
a:active {color: red;}

.list {
    text-align: left;
    width: 10%;
    margin: 0 auto;
}

.social {
    padding: 0 10px;
}