h1 {
    background-color: lightgray;
    text: 800px;
}

header {
    text-align: center;
}

section {
    margin: 20px 40px;
    text-align: center;
}

Body {
    align-content: center;
    text-align: center;
}

p {
    text: 40px;
}

hr {
    width: 25px; 
    height: 25px;
    border: none;
    color: #000;
    background: #000;
    transform: rotate(45deg);
}

a:link {color: mediumblue;}
a:visited {color: purple;}
a:hover {color: seagreen;}
a:active {color: red;}